<header>
  <div class="navbar">
    <a href="/"><div class="logo">JRX Trauma Dump</div></a>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
