<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style1.css" >
    <meta charset="UTF-8">
    <title>About JRX TD</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <div class="aboutMainDiv">
        <h1 style="font-size: 4rem;">
        Lets be real
    </h1>
        <p>
            This blog is solely for dumping my trauma,
            if it is empty...No wonder i guess.
            Lets dump all the stuff and make the server crash(if possible(pun intended))
        </p>
        
    </div>
    
    <%- include('partials/footer.ejs') %>
</body>
</html>