<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style1.css" >
    <meta charset="UTF-8">
    <title>JRX's SQ</title>
</head>
<body class="mainBody">
    <%- include('partials/header.ejs') %>
    <div class="parent1">
        <h1 class="homeH1">Literal Home Page</h1>
        <div>
            <a href="/blog" class="btn-blog">Visit Blog</a>
        </div>
    </div>
    


    <%- include('partials/footer.ejs') %>
</body>
</html>