.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}


*{
    color: white;
    background-color: black;
}

img{
    border: 5px solid white;
    height: 400px;
    width: 400px
}

div{
    margin-top: 80px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}